<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{name}}</h1>
        <p><strong style="color: var(--color-failure)">{{localize "CHAT.WEAPON_MALFUNCTION"}}</strong></p>
    </div>
</div>