<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{title}}</h1>
        <h3>{{total}}</h3>
        <p><strong>{{localize "DIALOG.MODIFIER"}}:</strong> {{modifier}}</p>
    </div>
</div>
