.dark-heresy.talent .notes-editor {
    height: 165px;
    max-height: 165px;
}

.dark-heresy.talent .stats {
    height: 165px;
    align-content: baseline;
}

.dark-heresy.talent .stats .stats-row .stat.prerequisites {
    flex: 1;
}

.dark-heresy.talent .stats .stats-row .stat.prerequisites input {
    flex: 1;
    width: auto;
}

.dark-heresy.talent .stats .stats-row .stat.tier input {
    width: 2em;
    text-align: center;
}
